body {
}

#gridTable {
    border: 1px solid black;
}

#gridTable td {
    width: 8px;
    height: 8px;
}

#gridTable td:hover {
    background: red;
}

.cell-selected {
    background-color: maroon;
}

.cell-unselected {
    background-color: white;
}

.cell-born {
    background-color: grey;
}

.cell-alive {
    background-color: black;
}

.cell-dead {
    background-color: white;
}
