body {
}

#gridTable {
    border: 1px solid black;
}

#gridTable td {
    width: 4px;
    height: 4px;
}

.cell-born {
    background-color: grey;
}

.cell-alive {
    background-color: black;
}

.cell-dead {
    background-color: white;
}
